<div ng-controller="NewtripCtrl as newtrip" class="home-body-page-1 animated fadeIn">
  <!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

  <!-- QUESTIONNAIRE STARTS HERE -->
  <div id="newtrip">

    <div ng-show="!stillFetchingRecs">
      <h1>{{newtrip.currNode.question}}</h1>
    </div>

    <div class="input-field" ng-repeat="connection in newtrip.currNode.connections">
      <button ng-hide="!connection.option" ng-click="newtrip.getNext(connection.next, connection.option)">
        {{connection.option}}
      </button>

      <div ng-show="connection.option == null">
        <input ng-show="connection.type === 'autocomplete' && newtrip.currNode.num===1" ng-autocomplete ng-model="setupTrip.destination.autocomplete" options="setupTrip.destination.options" details="setupTrip.destination.details">
        <input ng-show="connection.type === 'autocomplete' && newtrip.currNode.num===17" ng-autocomplete ng-model="setupTrip.lodging.autocomplete" options="setupTrip.lodging.options" details="setupTrip.lodging.details">
        <input ng-show="connection.type === 'otherwise'" ng-model="newtrip.currNode.answer" placeholder="otherwise">
        <input type="daterange" ng-show="connection.type === 'date'" ng-model="setupTrip.daterange" format="MMM DD,YYYY">
        <input ng-show="connection.type === 'money'" ng-model="newtrip.currNode.answer" placeholder="money">
        <button ng-click="newtrip.getNext(connection.next, newtrip.currNode.answer)">CONTINUE</button>
      </div>

    </div>

    <span ng-show="stillFetchingRecs"><h1>Doing awesome nerdy stuff with our server...<br><i class="icon ion-loading-c"></i></h1></span>

    <button ng-click="newtrip.displayLoadingView()" ng-show="newtrip.currNode.num==18 && stillFetchingRecs == false">OK, LET'S GO!</button>
    <br>

    <div>
      <button ng-hide="newtrip.currNode.num == 1 || stillFetchingRecs" ng-click="newtrip.getPrev()">GO BACK</button>
    </div>

  </div>
