.angular-google-map-container, #calendar-container, .angular-google-map {
  height: 100%;
}



#trip-picker-modal {

  .modal-title {
  font-size: 1.2em;
  color: #fdbb53;
  font-weight: bold;
  }

  a {
    color: whitesmoke;

    transition: color 0.1s ease-out;
    &:hover {
      color: #ad803e;
    }
    &:active {
     color: #c6904a;
    }
  }
}

#map-container {
	height:100%;
}

#map-wrapper {
	padding:0;
	overflow:hidden;
	background:gray;
	#calendar-container {
		padding:10px;
		color:white;
		overflow:scroll;
		&::-webkit-scrollbar {
			display:none;
		}
	}
}

.can-click {
	pointer-events:auto;
}
.cant-click {
	pointer-events:none;
}
.opaque {
	background:rgba(108, 122, 136, 0.9);
/*	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
	-moz-box-shadow:inset 0 0 35px 3px #999;
	-webkit-box-shadow:inset 0 0 35px 3px #999;
	box-shadow:inset 0 0 35px 3px #999;
	&:hover {
		background:rgba(0,0,0,0.55);
	}*/
}

#map-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
  margin-bottom: 18px;
  margin-top:100px;
	.overlay.divs {
		height:100%;
	}
  #day-picker {
    position:absolute;
    bottom:100px;
    left:0;
    width:100%;
    height:130px;

    #inner-day-picker-container {
        height: 54px;
        padding: 3px;
        border-top: 2px dashed rgba(188, 190, 193, 0.6);
        border-bottom: 2px dashed rgba(188, 190, 193, 0.6);
      }

    #day-panel {
      padding: 0.5%;
      width: 23%;
      height:66px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(45, 51, 58, 0.9);
      overflow-x:scroll;
      overflow-y:hidden;
      // border: 5px solid rgba(45, 51, 58, 0.9);

      .map-day, .map-day-selected {
        height: 36px;
        width: 36px;
        border-radius: 100%;
        color: whitesmoke;
        border: 2px solid #9a9a9a;
        float: left;
        margin: 3px 16px 3px 0;
        background: #9a9a9a;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        transition: all 0.1s ease-in;
        span {
          position:relative;
          top:-1px;
          font-size:1.6em;
        }
        &:hover {
          background: #ad803e;
          border-color: #ad803e;
        }
        &:focus {
          outline:0;
        }
      }
      .map-day-selected {
        background:initial;
        background-color: #fdbb53;
        border-color: #fdbb53;
        color: whitesmoke;
        outline:0;
      }
    }

  }
  h1 {
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top:0;
    margin-bottom:10px;
  }

	#toggle-buttons {
		float:right;
		margin-top:10px;
		margin-right:80px;
		.toggle-button {
			border:none;
			color:white;
			font-size:1.5em;
		}
	}

  #search-input {
    padding: 3.5px;
  }

  #search-dropdowns {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;

    #pricefilter {
      margin-right: 4%;
    }

    #distancefilter {
      margin-left: 4%;
    }

    select {
      -webkit-appearance: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
      padding: 2%;
      border-radius: 0;
      border: 2px solid rgba(35,31,32, 0.8);
      background-color: rgba(255,255,255,0.8);
    }
  }

	#search-container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top: 10px;
    // min-height:265px;
    background-color: rgba(45, 51, 58, 0.9);
		#map-search {
			color: #828282;
			outline:none;
			border:none;
			font-size: 2em;
  		font-family: 'Open Sans', sans-serif;
  		letter-spacing: 0.5px;
			background-color: rgba(255,255,255,0.9);
			width:100%;
			padding: 8px 10px 8px 10px;
			&::-webkit-input-placeholder {
			   color: #989898;
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: #989898;
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: #989898;
			}
			&:-ms-input-placeholder {
			   color: #989898;
			}
		}

	    #search-radarbuttons {
	      width: 100%;
	      height:95px;
	      // margin-top:20px;
        text-align: center;

        .radar-text {
          width: 100%;
          color: whitesmoke;
          font-size: 1.2em;
          text-align: center;
          transition: color 0.2s ease-in;
          &:hover {
            color: #939393;
          }
        }

        .radar-img {
          margin-right: 10px;
          margin-bottom: 8px;
        }
	      .radar-icons {
          width: 25%;
          margin: 0 auto;
	      	float:left;
	      	img {
	      		max-width: 80%;
	      		cursor:pointer;
	      	}
	      	div {
	      		width:85%;
	      	}
	      }
	    }
	}

  .separator {
    width: 90%;
    height: 1%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(188, 190, 193, 0.6);;
  }

  #details-panel {
    margin-top: 8%;
    background-color: rgba(45, 51, 58, 0.9);
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;

    .placephoto-banner-outer {
      height: 130px;
      width: 85%;
      min-height: 85px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8%;
    }

    .placephoto-banner {
      height:100%;
      width: 100%;
    }

    .placephoto-banner-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(253, 158, 83, 0.8);
      font-family: 'Josefin Slab', serif;
      font-weight: bold;
      color: #482312;
    }

    .glyphicon-star {
      color: #ff9f57;
    }

    h3 {
      padding-top: 8%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.6em;
      text-align: center;
    }

    h5 {
      font-family: 'Open Sans', sans-serif;
      color: rgba(45, 51, 58,1);
      padding-top: 0;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.95em;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 7.5%;
      padding-bottom: 2%;
      li {
        margin-bottom: 2%;
      }
    }
  }

	#search-results {
		width:80%;
		float: right;
		margin-top: 40px;
		overflow: scroll;
		max-height: 90%;
		&::-webkit-scrollbar {
			display:none;
		}
		.results-place {
			width:90%;
			margin:10px auto 0 auto;
			color:white;
			font-size:1.5em;
			text-align:center;
			p {
				margin-top:-3px;
				margin-bottom:0;
			}
		}
	}
}

.glyphicon-plus {
  color: white;
}

// #buttons-container {
  .add-to-trip {
      color: #000000;
      font-size: 1.1em;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      border: 3px solid #231F20;
      background-color: whitesmoke;
      padding: 8px;
      width:44%;
      min-width:45px;
      margin: 0 auto 20px auto;
      text-align:center;
      display:block;
      // float:left;
      outline:none;
      transition: background 0.2s ease-in-out;
      // &:hover {
      //   background: #df7575;
      // }
      // &:active {
      //   background-color: #995555;
      // }
  }
// }


  .dottedline-bottom {
    width: 100%;
    height: 3%;
    padding-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px dashed rgba(188, 190, 193, 0.6);
    clear:both;
  }


  .dottedline-top {
    width: 100%;
    height: 3%;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px dashed rgba(188, 190, 193, 0.6);
    clear:both;
  }

.toggleAddBtn {
  background:rgba(158,204,70,0.8);
}