<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="col-lg-12 col-md-12 full-height animated fadeIn" id="map-wrapper">
    <div ng-controller="MapCtrl" id="map-container">
        <google-map center="map.center" zoom="map.zoom" class="full-height" options="map.options" bounds="map.bounds">
            <markers models="markers" click="'onClicked'" events="markersEvents" coords="'self'" idKey="'id'" doCluster="true" fit="true" doRebuildAll="true"></markers>
            <markers models="currentDayMarkers" click="'onClicked'" events="markersEvents" coords="'self'" idKey="'id'" doCluster="false" fit="true" doRebuildAll="true"></markers>
        </google-map>
    </div>

</div>

<div id="map-overlay" ng-controller="MapOverlayCtrl as overlay" class="col-lg-12 col-md-12 cant-click">
    <div class="col-lg-3 col-md-3" class="clearfix full-height"></div>
    <div class="col-lg-6 col-md-6 full-height">
        <h1>{{currentTrip.name || currentTrip.questionnaire.location}}</h1>
    </div>
    <div class="col-lg-3 col-md-3 full-height">
        <div class="opaque" id="search-container">
            <div id="search-input">
                <form ng-submit="overlay.placesSearch(search.autocomplete)">
                    <input type="text" ng-model="search.autocomplete" ng-autocomplete options="search.options" details="search.details" id="map-search" placeholder="search" class="can-click">
                    <button type="submit" class="can-click" style="visibility:hidden; display:none;"></button>
                </form>
            </div>

            <!-- Filter dropdowns start here-->
            <div>
                <div id="search-dropdowns">
                    <select class="can-click" id="pricefilter">
                        <option value="" disabled selected>filter by price
                            <img src="../../assets/images/icons/arrow-down.png" style="width:15px; height:15px; margin-left: 3px">
                        </option>
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>

                    <select class="can-click" id="distancefilter">
                        <option value="" disabled selected>filter by distance</option>
                        <option value="1">0.5 miles</option>
                        <option value="2">Within 2 miles</option>
                        <option value="3">Within 5 miles</option>
                        <option value="4">Anywhere</option>
                    </select>
                </div>

                <!-- Filter dropdowns end here -->

                <div class="separator"></div>

                <div id="search-radarbuttons">
                    <div ng-repeat="icon in overlay.radarIcons" class="can-click radar-icons">
                        <img ng-src="{{icon.route}}" ng-click="overlay.iconRadarSearch([$index])" class="can-click">
                        <div class="can-click">
                            <p>{{icon.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="dottedline-bottom"></div>
            </div>
        </div>

        <div ng-show="currDetails" id="details-panel" class="can-click clearfix">
            <div class="dottedline-top"></div>
            <div class="placephoto-banner-outer">
                <div class="placephoto-banner" style="background:url('{{currDetails.photoUrl}}')">
                    <div class="placephoto-banner-overlay">
                        <h3 class="uppercase">{{currDetails.name}}</h3>
                        <h5>{{currDetails.formatted_address}}</h5>
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <ul>
                <li>
                    <b>Rating:</b>
                    <span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </span>
                </li>
                <li><b>Website:</b>  <a ng-href="{{currDetails.website}}">{{currDetails.website}}</a>
                </li>
                <li><b>Telephone:</b>{{currDetails.international_phone_number}}</li>
            </ul>

            <button id="add-to-trip" ng-click="overlay.addToTrip(currDetails)">ADD TO TRIP</button>
            <div class="dottedline-bottom"></div>
        </div>
    </div>
    <div id="day-picker">
        <div style="margin-left:auto; margin-right:auto;">
            <h1>{{selectedDay | date:'mediumDate'}}</h1>
            <div id="day-panel" class="can-click" ng-show="currentTrip.days">
                <div style="width:1000px;">
                    <button ng-repeat="day in currentTrip.days" ng-class="{'map-day-selected':$index == selectedDayCss }" ng-click="daySelect($index)" class="map-day">
                        <span>{{$index + 1}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
