<div class="aside clearfix" id="aside-container" ng-controller="AsideCtrl as aside">
  <div class="aside-dialog">
    <div class="aside-content">
      <!-- <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Trip Manager</h4>
      </div> -->
      <div class="aside-body">
        <!-- <button type="button" class="close" ng-click="$hide()">&times;</button> -->

        <div ng-repeat="view in aside.views" class="aside-links">
          <span>
            <img ng-src="{{view.icon}}" style="width:28px; height:28px; margin-right: 10px;"></img>
          </span>
          <button ng-click="aside.reroute(view.link)">
            <h5 ng-click="$hide()">{{view.text}}</h5>
          </button>
        </div>

      </div>
      <!-- <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div> -->
    </div>
  </div>
</div>