$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

a {
   &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.modal-header {
  border: 0;
}

.modal-footer {
  border: 0;
}

.close {
  color: whitesmoke;
  &:focus {
    outline: none;
  }
}

.auth-form-group {
  text-align: left;
}

#trip-picker-modal {
  width: 55%;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 0;
  background: rgba(45, 51, 58, 0.9);
  font-family: 'Open Sans', sans-serif;
  color: #bbbdc0;
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;

  #newtripbutton {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background: transparent;
    padding: 5px;

    &:focus {
      outline: none;
    }

    transition : background 0.2s ease-in;
    &:hover {
      background: rgba(158,204,70,0.8);
    }
  }

}

#auth-modal {
  width: 55%;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 0;
  background: rgba(45, 51, 58, 0.9);
  font-family: 'Open Sans', sans-serif;
  color: #bbbdc0;
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;

  .social {
      text-align: center;
      .btn {
        margin-bottom: 5px;
        width: 80%;
        border-radius: 0;
      }
    }

  .btn{
    &:focus {
      outline: none;
    }
    transition: background 0.2s ease-out;
    &:hover {
      background: rgba(158,204,70, 0.8);
    }
    &:active {
      background: rgba(106,132,48, 0.8);
    }
  }

  .btn-register {
    display: inline;
    color: whitesmoke;
    border-radius: 0;
    border: 3px solid whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    background-color: transparent;
    padding: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-right:auto;
    padding-left:auto;
  }

  .btn-login {
    display: inline;
    color: whitesmoke;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    border: 3px solid whitesmoke;
    background-color: transparent;
    padding: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-right:auto;
    padding-left:auto;
  }

  hr {
    border: 0;
    border-bottom: 1px dashed #777;
  }

  .modal-title {
    font-size: 1.2em;
    color: #fdbb53;
    font-weight: bold;
  }

  input {
    padding: 0;
    min-height: 45px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #bbbdc0;
    border-radius: 0px;
    color: #fdbb53;
    -webkit-appearance: none;
    box-shadow: none;
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }


}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// * {
// 	border:1px solid red;
// }

.clearfix {
	overflow:auto;
}

.full-height {
	height:100%;
}

.page-body {
	margin-top:100px;
}

* {
	&::-webkit-scrollbar {
	    display: none;
	}

	 -webkit-font-smoothing: antialiased;

}

//Calendar styling

.fc-view {
  background: rgba(255,255,255,0.6);
  color: rgba(45, 51, 58, 1);
  font-family: 'Open Sans', sans-serif;
  // border: 5px solid rgba(45, 51, 58, 0.7);
}

.fc-widget-header {
  border: 1px solid rgba(45,51,58,0.4);
}

.fc-widget-content {
  border: 1px solid rgba(45,51,58,0.4);
}

.fc-day-header {
  color: rgba(45,51,58,0.8);
  text-transform: uppercase;
}

.fc-sun {
  color: #DB0A5B;
  font-weight: bold;
}


.fc-today {
  background: rgba(255,255,255, 0.9);
  .fc-day-number {
    font-weight: bold;
    font-decoration: underline;
  }
}

.fc-state-default.fc-corner-left {
  border-radius: 0 !important;
}

.fc-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  background-color: 0;
  text-shadow: none;
  box-shadow: 0;
  border: 2px solid rgba(45, 51, 58, 0.9);
  background: transparent;
  color: rgba(45, 51, 58, 0.9);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 40px;
  padding-top: 4.5px;
  text-transform: uppercase;
  margin-right: 10px !important;

  transition: background 0.3s ease-in;
  &:hover {
    background: rgba(158,204,70, 0.8);
  }

  &:active {
    background: rgba(106,132,48, 0.8);
  }
}

.fc-button-prev {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  margin-right: 2px !important;
}

.fc-button-next {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.fc-button-basicWeek {
  display: none;
}

.fc-button-basicDay {
  display: none;
}

.fc-header-center {
  font-family: 'Montserrat', sans-serif;
  color: rgba(45, 51, 58, 0.9);
}

.fc-state-down, .fc-state-active {
  box-shadow: none !important;
  background: rgba(158,204,70, 0.8);
}

.fc-disabled {
  opacity: 1 !important;
}

.fc-header-space {
  display: none;
}

// Component styles are injected through grunt
// injector
@import 'acceptinvite/acceptinvite.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'dashboard/dashboard.scss';
@import 'main/main.scss';
@import 'map/map.scss';
@import 'newtrip/newtrip.scss';
@import 'recommend/recommend.scss';
@import 'tripEdit/tripEdit.scss';
@import 'aside/aside.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector