<div ng-controller="PlanCtrl as plan" class="col-lg-12 col-md-12 full-height" id="plan-wrapper">
  <div ng-controller="MapCtrl as map" ng-show="map.showMap()" class="full-height">
    <google-map center="map.map.center" zoom="map.map.zoom" class="full-height"></google-map>
  </div>

  <div ng-controller="CalendarCtrl as calendar" ng-show="calendar.showCalendar()" class="full-height">
    <div id="calendar-container" class="full-height" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.eventSources"></div>
  </div>
</div>

<div id="map-overlay" ng-controller="MapOverlayCtrl as overlay" class="col-lg-12 col-md-12 cant-click">
  <div class="col-lg-3 col-md-3" class="clearfix can-click">
    <div id="toggle-buttons" class="can-click">
      <button ng-click="overlay.toggleView('map')">Map</button>
      <button ng-click="overlay.toggleView('calendar')">Calendar</button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="opaque" id="search-container">
      <form ng-submit="overlay.placesSearch(overlay.autocomplete)">
        <input type="text" ng-model="overlay.autocomplete" ng-autocomplete options="overlay.searchFieldOptions" details="overlay.details.details" id="map-search" placeholder="search" class="can-click" >
        <button type="submit" class="can-click" style="visibility:hidden; display:none;"></button>
      </form>
      <div id="search-results" class="can-click clearfix" ng-show="false">
        <h1>Goodbye</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3">
    
  </div>
</div>