.angular-google-map-container, #calendar-container, .angular-google-map {
  height: 100%;
}

#plan-wrapper {
	padding:0;
	overflow:hidden;
	background:gray;
	#calendar-container {
		padding:10px;
		color:white;
		overflow:scroll;
		&::-webkit-scrollbar {
			display:none;
		}
	}
}

.can-click {
	pointer-events:auto;
}
.cant-click {
	pointer-events:none;
}
.opaque {
	background:rgba(0,0,0,0.3);
	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
	-moz-box-shadow:inset 0 0 35px 3px #999;
	-webkit-box-shadow:inset 0 0 35px 3px #999;
	box-shadow:inset 0 0 35px 3px #999;
	&:hover {
		background:rgba(0,0,0,0.55);
	}
}

#map-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	.overlay.divs {
		height:100%;
	}
	#toggle-buttons {
		float:right;
		margin-top:10px;
		margin-right:80px;
		.toggle-button {
			border:none;
			color:white;
			font-size:1.5em;
		}
	}
	#search-container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top: 10px;
		#map-search {
			color:white;
			outline:none;
			border:none;
			font-size:2em;
			background:transparent;
			width:100%;
			padding-left:10px;
			padding-bottom:3px;
			&::-webkit-input-placeholder {
			   color: white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: white;  
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: white;  
			}
			&:-ms-input-placeholder {  
			   color: white;  
			}
		}
	}
	#search-results {
		width:80%;
		float:right;
		margin-top:40px;
		overflow:scroll;
		max-height:90%;
		&::-webkit-scrollbar {
			display:none;
		}
		.results-place {
			width:90%;
			margin:10px auto 0 auto;
			color:white;
			font-size:1.5em;
			text-align:center;
			p {
				margin-top:-3px;
				margin-bottom:0;
			}
		}
	}
}
