<div ng-controller="PlanCtrl as plan" class="col-lg-12 col-md-12 full-height" id="plan-wrapper">
  <div ng-controller="MapCtrl as map" ng-show="map.showMap()" class="full-height">
    <google-map center="map.map.center" zoom="map.map.zoom" class="full-height"></google-map>
  </div>

  <div ng-controller="CalendarCtrl as calendar" ng-show="calendar.showCalendar()" class="full-height">
    <div id="calendar-container" class="full-height" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.eventSources"></div>
  </div>
</div>

<div id="map-overlay">
  <h1>HELLO THERE</h1>
  <button ng-click="plan.toggleView('map')">Map</button>
  <button ng-click="plan.toggleView('calendar')">Calendar</button>
  <div class="btn-group col-lg-4 col-md-4" dropdown is-open="status.isopen" style="height:20px;">
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
      <i class="glyphicon glyphicon-th-large"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="divider"></li>
      <li><a href="#">Something else here</a></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>