<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" id="trip-picker-modal">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>

      <!-- TRIPPICKER BODY STARTS HERE -->
        <div ng-controller="MapOverlayCtrl as overlay">
          <div ng-repeat="trip in userData.trips" ng-click="setCurrentTrip(trip); closeTripPickerModal(); overlay.addToTrip(currDetails)" id="trippicker-option-text"><a href="">{{trip.questionnaire.location}}</a><br><br>
          </div>
          <a href="/newtrip" ng-click="closeTripPickerModal()"><button id="newtripbutton">+ Create New Trip</button></a>
        </div>
      <!-- TRIPPICKER BODY ENDS HERE -->

      <div class="modal-body" ng-bind="content">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>