<header ng-controller="NavbarCtrl as navbar">

  <a href="">
    <img id="menu-button" src="../../assets/images/icons/menu-lines.png" data-template="../../components/aside/aside.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"></img>
  </a>

  <a href="/" id="brand_logo">
    <img id="logo" src = "../../assets/images/tripmonk_horizontal_logo.png">
  </a>
  <nav id="menu-top-right">
    <ul>
      <li ng-hide="navbar.isLoggedIn()" ng-class="{active: navbar.isActive('/signup')}"><a href="" ng-click="navbar.signup()">Sign up</a></li>
      <li ng-hide="navbar.isLoggedIn()" ng-class="{active: navbar.isActive('/login')}"><a href="/login">Login</a></li>
      <li ng-show="navbar.isLoggedIn()"><p class="navbar-text">Hello {{ navbar.getCurrentUser().name }}</p> </li>
      <li ng-show="navbar.isLoggedIn()" ng-class="{active: navbar.isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li ng-show="navbar.isLoggedIn()" ng-class="{active: navbar.isActive('/logout')}"><a href="" ng-click="navbar.logout()">Logout</a></li>
    </ul>
  </nav>
</header>


<!-- MODAL FOR SIGNUP -->
<script type="text/ng-template" id="signup.html">
    <div class="row clearfix">
            <div class="col-sm-12">
              <form class="form" name="form" ng-submit="register(form)" novalidate>
                <p>In order for us to save your trip, please create an account.</p><br>
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                    'has-error': form.name.$invalid && submitted }">
                  <label>Name</label>

                  <input type="text" name="name" class="form-control" ng-model="user.name"
                         required/>
                  <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A name is required
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                    'has-error': form.email.$invalid && submitted }">
                  <label>Email</label>

                  <input type="email" name="email" class="form-control" ng-model="user.email"
                         required
                         mongoose-error/>
                  <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Doesn't look like a valid email.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.required && submitted">
                    What's your email address?
                  </p>
                  <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                    'has-error': form.password.$invalid && submitted }">
                  <label>Password</label>

                  <input type="password" name="password" class="form-control" ng-model="user.password"
                         ng-minlength="3"
                         required
                         mongoose-error/>
                  <p class="help-block"
                     ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    Password must be at least 3 characters.
                  </p>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                  </p>
                </div>

                <div>
                  <button class="btn btn-inverse btn-lg btn-login" type="submit" >
                    Sign up
                  </button>
                  <a class="btn btn-default btn-lg btn-register" href="/login">
                    Login
                  </a>
                </div>

                <hr>
                <div class="social">
                  <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                    <i class="fa fa-facebook"></i> Connect with Facebook
                  </a>
                  <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                    <i class="fa fa-google-plus"></i> Connect with Google+
                  </a>
                  <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                    <i class="fa fa-twitter"></i> Connect with Twitter
                  </a>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
</script>

<!-- ORIGINAL CODE FROM YEOMAN GENERATOR.  KEPT IN PLACE IN CASE WE NEED TO LOOK AT FUNCTIONS AND CLASSES FOR LOGIN STUFF. -->

<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">trip-planner</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->