// .ngdialog.ngdialog-theme-default .ngdialog-content {
//   input {
//     background: transparent;
//     border: none;
//     border-bottom: 2px solid whitesmoke;
//     border-radius: 0px;
//     color: #FDBC52;
//     -webkit-appearance: none;
//     box-shadow: none;
//     &:focus {
//       outline-color: transparent;
//       outline-style: none;
//     }
//   }
//   .social {
//     text-align: center;
//     .btn {
//       margin-bottom: 5px;
//     }
//   }
//   -webkit-animation: ngdialog-flyin .5s;
//   animation: ngdialog-flyin .5s;
//   background: rgba(108, 122, 136, 0.9);
//   border-radius: 0px;
//   border-width: 3px;
//   color: whitesmoke;
//   font-family: 'Open Sans',sans-serif;
//   font-size: 1em;
//   line-height: 1.1em;
//   margin: 0 auto;
//   max-width: 100%;
//   padding: 2.5em 1.5em 0.6em 1.5em;
//   position: relative;
//   width: 370px;
//   height: 560px;
// }

$navbar-height: 80px;

#brand_logo {
    position: absolute;
    display:block;
    height:60px;
    width:221px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#logo {
  height: 100%;
}

header {
  z-index: 10;
  padding:0;
  margin:0;
  width: 100%;
  background-color: rgba(45, 51, 58, 0.9);
  position:fixed;
  top:0;
  left:0;
}

nav {
  text-align: center;
  top:0;
  right:0;
  height: $navbar-height;
  line-height: $navbar-height;
  width: 100%;
  padding:0;
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin:0;
  height: 70px;
  max-width: 95%;
  margin: 0 auto;
}

nav li {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.1em;
  letter-spacing: 0.5px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 5px;
  &:first-child {
    float: left;
  }
  span {
    color: #FDBC52;
    margin-right: 5px;
  }
}

nav a, nav a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

  text-decoration: none;
  color: #FDBC52;
  font-weight: normal;
    transition : color 0.2s ease-in-out;
    &:hover {
      color: #bc8b41;
    }
}



#menu-button {
  background-color: transparent;
  width:40px;
}
