// .ngdialog.ngdialog-theme-default .ngdialog-content {
//   input {
//     background: transparent;
//     border: none;
//     border-bottom: 2px solid whitesmoke;
//     border-radius: 0px;
//     color: #FDBC52;
//     -webkit-appearance: none;
//     box-shadow: none;
//     &:focus {
//       outline-color: transparent;
//       outline-style: none;
//     }
//   }
//   .social {
//     text-align: center;
//     .btn {
//       margin-bottom: 5px;
//     }
//   }
//   -webkit-animation: ngdialog-flyin .5s;
//   animation: ngdialog-flyin .5s;
//   background: rgba(108, 122, 136, 0.9);
//   border-radius: 0px;
//   border-width: 3px;
//   color: whitesmoke;
//   font-family: 'Open Sans',sans-serif;
//   font-size: 1em;
//   line-height: 1.1em;
//   margin: 0 auto;
//   max-width: 100%;
//   padding: 2.5em 1.5em 0.6em 1.5em;
//   position: relative;
//   width: 370px;
//   height: 560px;
// }

#brand_logo {
    display:block;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    width:221px;
}

#logo {
  height: 100%;
}

header {
  z-index: 10;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: rgba(45, 51, 58, 0.9);
  position:fixed;
  top:0;
  left:0;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
}

nav ul {
  float: right;
  list-style: none;
  margin: 2px 30px 0 10px;
  margin-right: 30px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a, nav a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #FDBC52;
  font-weight: normal;
  padding: 15px 10px;
}

#menu-top-right {
  position:absolute;
  top:10px;
  right:10px;
  margin:0;
  padding-top:16px;
  font-size:1.2em;
  letter-spacing: 1.2px;
}


#menu-button {
  float:left;
  border: 0;
  background-color: transparent;
  margin-top: 0;
  width:40px;
  margin:10px 20px 0 20px;
}
