<div class="home-body-page-1 animated fadeIn" ng-controller="MainCtrl as main">
  <!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

  <!-- INITIAL QUESTIONS START HERE -->

  <div id="initial-questions" class="clearfix col-lg-12 col-md-12">
    <div class="col-lg-12 col-md-12" id="questions-container">
      <div id="left-box" class="question-container clearfix col-lg-6 col-md-6">
        <div class="full-height">
          <h1>Have a dream trip in mind already?</h1>
        </div>
      </div>
      <div id="right-box" class="question-container clearfix col-lg-6 col-md-6 full-height">
        <div class="full-height">
          <h1>Just exploring?</h1>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="col-lg-12 col-md-12">
      <div class="col-lg-6 col-md-6">
        <a href="/newtrip">
          <button>PLAN</button>
        </a>
      </div>
      <div class="col-lg-6 col-md-6">
        <a href="/map">
          <button>EXPLORE</button>
        </a>
      </div>
    </div>

  </div>



  <!-- INITIAL QUESTIONS END HERE -->


  <!-- QUESTIONNAIRE STARTS HERE -->
<!--   <div id="newtrip">

    <div>
      <h1>{{main.currNode.question}}</h1>
    </div>

    <div class="input-field" ng-repeat="connection in main.currNode.connections">
      <button ng-hide="!connection.option" ng-click="main.getNext(connection.next, connection.option)">
        {{connection.option}}
      </button>

      <div ng-show="connection.option == null">
        <input ng-model="main.currNode.answer">
        <button ng-click="main.getNext(connection.next, main.currNode.answer)">Continue</button>
      </div>
    </div>
    <button ng-click="main.doneQuestionnaire()" ng-show="main.currNode.num==18">Ok, let's go!</button>
    <br>
    <button ng-click="main.getPrev()">Go back</button>


  </div> -->




</div>