#brand-logo {
    margin-top:40px;
    display:block;
    margin:auto;
    height:65%;
}

#logo-container {
  height:100%;
  width: 100%;
}

#newtrip {
  height: 100%;
  width: 100%;
  div {
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
    h1 {
      padding-top:100px;
      font-size:4em;
    }
    button, input {
      color: black;
    }
  }
}

#menu-top-right {
    width:190px;
    float:right;
    margin-top:20px;
    a, span {
        width:100%;
        display:block;
        text-align:center;
        font-size:25px;
        text-decoration:none;
        color:gray;
        -webkit-transition: color 500ms ease;
        -moz-transition: color 500ms ease;
        -o-transition: color 500ms ease;
        transition: color 500ms ease;
        &:hover {
            color:white;
        }
    }
}

#home-body-page-1 {
    background-image: url('../../assets/images/mountain-road.jpeg');
    background-size: 100% 100%;
    height:100%;
    overflow:hidden;
}

#home-footer-page-1 {
    position:absolute;
    bottom:0;
    width:100%;
    padding:0;
    margin-bottom:20px;
    #signup-form {
        float:right;
        height:55px;
        padding:0px;
        ::-webkit-input-placeholder {
           color: gray;
        }
        :-moz-placeholder { /* Firefox 18- */
           color: gray;
        }
        ::-moz-placeholder {  /* Firefox 19+ */
           color: gray;
        }
        :-ms-input-placeholder {
           color: gray;
        }
        .form-children {
            height:100%;
            font-size:25px;
        }
        .text-input {
            border:none;
            background:transparent;
            border-bottom: 2px solid #fff;
            outline:none;
            width:100%;
            color:white;
        }
        #signup-button {
            height:60%;
            background-color:transparent;
            color:gray;
            outline:none;
            -webkit-transition: color 500ms ease;
            -moz-transition: color 500ms ease;
            -o-transition: color 500ms ease;
            transition: color 500ms ease;
            &:hover {
                color:white;
            }
        }
        #chevron {
            display:block;
            float:left;
            margin:15px;
            color:gray;
        }
    }
    #social-media-icons {
        float:left;
        padding:3px 0 0 11px;
        .social-media-icon {
            padding:0 2px 0 2px;
            a {
                width:100%;
            }
        }
    }
}


