
<div id="home-body-page-1" ng-controller="MainCtrl as main">
  <header class="clearfix">
    <a href="/" id="brand_logo">
      <img id="logo" src = "../../assets/images/tripmonk_horizontal_logo.png">
    </a>
    <nav id="menu-top-right">
      <ul>
        <li><a ng-hide="main.isLoggedIn()" href="/signup" id="signup-link">SIGN UP</a></li>
        <li><a ng-hide="main.isLoggedIn()" href="/login">LOGIN</a></li>
      </ul>
    </nav>
  </header>

  <!-- INITIAL QUESTIONS START HERE -->

    <div id="initial-questions">

      <div id="left-box">
        <div class="text-wrapper">
          <h1>Have a dream trip in mind already?</h1>
          <br>
          <button>GET STARTED</button>
        </div>
      </div>

      <div id="right-box">
        <div class="text-wrapper">
          <h1>Just exploring?</h1>
          <br>
          <button>LEARN MORE</button>
        </div>
      </div>

    </div>



  <!-- INITIAL QUESTIONS END HERE -->


  <!-- QUESTIONNAIRE STARTS HERE -->
  <div id="newtrip" ng-show="main.isLoggedIn()">

    <div>
      <h1>{{main.currNode.question}}</h1>
    </div>

    <div class="input-field" ng-repeat="connection in main.currNode.connections">
      <button ng-hide="!connection.option" ng-click="main.getNext(connection.next, connection.option)">
        {{connection.option}}
      </button>

      <div ng-show="connection.option == null">
        <input ng-model="main.currNode.answer">
        <button ng-click="main.getNext(connection.next, main.currNode.answer)">Continue</button>
      </div>
    </div>
    <button ng-click="main.doneQuestionnaire()" ng-show="main.currNode.num==18">Ok, let's go!</button>
    <br>
    <button ng-click="main.getPrev()">Go back</button>


  </div>


<!-- QUESTIONNAIRE ENDS HERE -->

<!-- NAME FIELD STARTS HERE -->
  <!-- <footer ng-hide="main.isLoggedIn()" id="home-footer-page-1">
    <form class="col-lg-12 col-md-12" name="form" ng-submit="main.register(form)" id="signup-form" novalidate>

       <div class="col-lg-3 col-md-3" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">

        <input type="text" name="name" placeholder="name" class="form-children text-input" ng-model="main.user.name" required mongoose-error/>
      </div> -->
<!-- NAME FIELD ENDS HERE -->


<!-- EMAIL FIELD STARTS HERE -->
    <!--   <div class="col-lg-3 col-md-3" ng-class="{ 'has-success': main.form.email.$valid && submitted,'has-error': main.form.email.$invalid && submitted }">

        <input type="email" name="email" placeholder="email" class="form-children text-input" id="email-field" ng-model="main.user.email" required mongoose-error/>
        <p class="help-block" ng-show="main.form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="main.form.email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="main.form.email.$error.mongoose">
          {{ main.errors.email }}
        </p>
      </div> -->
<!-- EMAIL FIELD ENDS HERE -->

<!-- PASSWORD FIELD STARTS HERE -->
  <!--     <div class="col-lg-3 col-md-3" ng-class="{ 'has-success': main.form.password.$valid && submitted, 'has-error': main.form.password.$invalid && submitted }">

        <input type="password" name="password" placeholder="password" class="form-children text-input" ng-model="main.user.password" ng-minlength="3" required mongoose-error/>
        <p class="help-block"
           ng-show="(main.form.password.$error.minlength || main.form.password.$error.required) && submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="main.form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div> -->
<!-- PASSWORD FIELD ENDS HERE -->

<!--
      <div class="col-lg-3 col-md-3">
        <div class="col-lg-7 col-md-7">
          <i class="glyphicon glyphicon-chevron-right" id="chevron"></i>
            <button type="submit" id="signup-button" class="form-children btn btn-xs">plan a trip</button>
        </div>

        <div id="social-media-icons" class="col-lg-5 col-md-5">
          <div class="social-media-icon col-lg-4 col-md-4">
            <a class="btn btn-facebook" href="" ng-click="main.loginOauth('facebook')">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="social-media-icon col-lg-4 col-md-4">
            <a class="btn btn-google-plus" href="" ng-click="main.loginOauth('google')">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
          <div class="social-media-icon col-lg-4 col-md-4">
            <a class="btn btn-twitter" href="" ng-click="main.loginOauth('twitter')">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </form>

  </footer> -->

<script>
  $('#signup-link').click(function() {
    $('#email-field').focus();
  });
</script>

</div>