#individual-trip {
	background-color:gray;
	height:30%;
	min-height:300px;
	width:100%;
	padding-left:0;
	margin: 10px 0;
	img {
		margin-left:-15px;
		height:100%;
		z-index:10;
	}
	h3 {
		position:relative;
		top:-60px;
		z-index:11;
		color:whitesmoke;
		left:10px;
	}
	#days-container {
		height:95%;
		overflow-x:scroll;
		overflow-y:hidden;
		ul {
			width:10000px;
			overflow-y:hidden;
		}
		.trip-days {
			padding-left:10px;
			display:block;
			background-color:whitesmoke;
			width:300px;
			float:left;
			margin:10px;
			h3 {
				position:initial;
				color:black;
			}
		}
	}
}