<div class="body-page-blue-blur" style="overflow:scroll;">
  <div ng-controller="DashboardCtrl as dashboard" class="col-md-12 dashboard-body page-body animated fadeIn full-height">

    <div ng-cloak ng-show="!userData.trips[0]" style="text-align: center; width: 80%; margin: 0 auto;">
      <h1 style="margin-bottom: 0; margin-top:5%;">You have not yet created any trips yet.  <br> Click <a href='/newtrip'>here</a> to create one.</h1>
      <br>
      <img src="../../assets/images/tripmonk_logo_grayscale.png" style="padding: 0">
    </div>

    <div ng-repeat="trip in userData.trips" class="col-lg-12" id="individual-trip">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 full-height" style="padding-left:0;">
        <img ng-src="{{placePhotos[$index]}}" style="z-index:10;">
        <div>
          <button ng-click="dashboard.tripEditView($index)">Edit Trip</button>
        </div>
        <div class="place-overlay">
          <h1 ng-click="dashboard.tripEditView($index)">{{trip.questionnaire.location}}</h1>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 full-height" id="days-container">
        <ul class="clearfix full-height">
          <li class="trip-days full-height" ng-repeat="(key, prop) in trip.dashboardActivities">
            <h4 class="date">{{key | date:'mediumDate'}}</h4>
            <!-- <h4>DAY {{$index + 1}}</h4> -->
            <h4><b>Activities</b></h4>
            <ul style="list-style-type: circle;">
              <li style="list-style-type: circle;" ng-repeat="activity in trip.dashboardActivities[key]">{{activity.googleDetails.name}}</li>
              <li ng-show="trip.dashboardActivities[key].length < 1">No Activities Planned</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
