.dashboard-body {
  padding: 0 5% 2% 5%;

}

#individual-trip {
	background-color:rgba(45,51,58,0.7);
	height:30%;
	min-height:300px;
	width:100%;
	padding-left:0;
	margin: 10px 0;
	overflow-y:hidden;
	img {
		width:100%;
		height:100%;
	}
	.place-overlay {
		width:calc(100% - 14px);
		height:30%;
		position:absolute;
		bottom:0;
		left:0;
		background-color:rgba(0,0,0,0.4);
		transition: background-color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
		&:hover {
			background-color:rgba(0,0,0,0.5);
		}
		h1 {
			position: absolute;
			bottom: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6em;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
			display: block;
			z-index: 11;
			color: whitesmoke;
			text-align: center;
			width: 100%;
			cursor:pointer;
			transition:color 0.3s ease-in-out;
			&:hover {
				color:#FDBC52;
			}
		}
		button {
			position:relative;
			top:250px;
			z-index:11;
			background:transparent;
			display:block;
			margin-left:auto;
			margin-right:auto;
			border:none;
			outline:none;
			color:white;
			font-size:1.4em;
			transition:color 0.3s ease-in-out;
			&:hover {
				color:#FDBC52;
			}
		}
	}
	#days-container {
		height:95%;
		overflow-x:scroll;
		overflow-y:hidden;
		padding-left:0;
		ul {
			width:10000px;
			overflow-y:hidden;
			padding-left:0;
		}
		.trip-days {
      max-height: 96%;
      border-radius: 5px;
			padding-left:10px;
			display:block;
			background-color: #DBDBDB;
			max-width:300px;
			min-width:150px;
			float:left;
			margin:10px;
      font-family: 'Open Sans';
			h3 {
        font-size: 1.6em;
        font-weight: bold;
				position:initial;
				color:black;
			}
      .date {
        text-transform: uppercase;
        font-size: 1.4em;
      }
		}
	}
}

.plan-sidebar {
  position:absolute;
  width: 5%;
  min-width: 50px;
  right: 0;
  height: 100%;
  background:rgba(0,0,0,0.9);
  text-align: center;
  padding: 0;

  .plan-sidebar-inner {
    position: relative;
    top: 10%;

    .plan-sidebar-inner-ul {
      list-style: none;
      li {
        list-style: none;
        padding: 15px;
        height: 5%;
      }
      .sidebar-icon-explore {
        background: url('//assets/images/icons/compass-grey.svg');
        background-size: 2em 2em;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          background: url('//assets/images/icons/compass-grey-opaque.svg');
          background-size: 2em 2em;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .icon {
        font-size: 2em;
        color: rgba(255,255,255, 0.6);
        transition: color 0.2s ease-in-out;
        &:hover {
          color: rgba(258,187,83, 0.8);
        }
        cursor: pointer;
      }
    }
  }
}