<div ng-controller="TripeditCtrl as edit" ng-init="edit.init()" class="col-md-12 full-height animated fadeIn body-page-blue-blur" style="overflow-y: scroll">
  <div class="page-body ">
    <div class="col-lg-3 col-md-3 col-sm-4 full-height info-panel">
      <ul id="basic-info-panel">
        <div class="dottedline-top"></div>
        <div class="inner-container">
          <li>
            <h3>Location</h3>
            <span>{{currentTrip.questionnaire.location || "empty" }}</span>
          </li>
          <li class="friends">
            <h3>Who's Going?</h3>
            <div id="repeat-frds-container">
              <div ng-repeat="friend in currentTrip.travelers">
                {{friend.name}}
              </div>
              <div ng-repeat="invitee in currentTrip.invitees track by $index">
                <i style="color: grey">{{invitee.name}}, {{invitee.email}} (pending)</i>
              </div>
            </div>
            <div class="friend-invite" ng-controller="FriendsCtrl as friends">
              <form name="inputForm" ng-submit="friends.inviteFriends(inputForm, invitees, currentTrip._id, currentTrip.questionnaire.location)" novalidate>
                <a href="" ng-click="addField()" ng-hide="invitees.length>0"><i class="icon ion-plus-circled"></i> Invite a friend</a>
                <a href="" ng-click="addField()" ng-show="invitees.length>0"><i class="icon ion-plus-circled"></i> Invite another friend</a>
                <div ng-repeat="person in invitees" style="margin-top: 10px">
                  <input type="text" ng-model="person.name" placeholder="first name" name="uName" style="width: 23%" required></input> <i class="validations icon ion-close" ng-show="inputForm.uName.$error.required && submitted && showError"></i>
                  <input type="email" ng-model="person.email" placeholder="email" name="uEmail" style="width: 48%;" required></input>
                  <i class="validations icon ion-close" ng-show="inputForm.uEmail.$error.required && submitted && showError"></i>
                  <i class="validations icon ion-close" ng-show=" inputForm.uEmail.$error.email && submitted && showError"></i>
                  <i style="color: #E07575; cursor: pointer;" class="icon ion-minus-circled" ng-click="removeField($index)"></i>
                  <br>
                  <div ng-show="inputForm.$invalid && submitted && showError" class="validations" style="margin-top: 10px">The name or email provided is incorrect</div>
                </div>
                <br>
                <div style="text-align: center">
                  <button ng-show="invitees.length>0" type="submit">Invite friends</button>
                </div>
              </form>
            </div>
          </li>
        </div>
        <div class="dottedline-bottom"></div>
      </ul>

      <ul id="wishlist-panel">
        <div class="dottedline-top"></div>
        <li class="inner-container">
          <h3>Things we want to do</h3>
          <ul class="wishlist-activities-container">
            <li class="wishlist-activities" ng-model="wish" ng-repeat="wish in currentTrip.wishlist">
              <a ng-click="showDatePicker($index)">{{wish.title || "empty" }}</a>
            </li>
            <li>

            </li>
          </ul>
          <form ng-submit="addToWishlist()" name="wishlistForm">
            <input type="text" ng-model="autocomplete.autocomplete" ng-autocomplete details="autocomplete.details" options="autocomplete.options" placeholder="Add to your wishlist">
            <button type="submit"><i style="font-size: 1.2em; cursor: pointer" class="icon ion-plus-circled"></i>
            </button>
          </form>
          <div date-picker="start" ng-hide="closed" view="date" min-view="hours" ng-click="selectActivityTime()"></div>
        </li>
        <div class="dottedline-bottom"></div>
      </ul>

      <ul id="activity-info-panel" ng-show="activityDetails">
        <div class="dottedline-top"></div>
          <li class="inner-container">
            <h3>Activity</h3>
            <p>{{activityDetails.googleDetails.name}}</p>
            <h3>Address</h3>
            <p>{{activityDetails.googleDetails.formatted_address}}</p>
            <h3>When</h3>
            <p>{{activityDetails.start | date:'medium'}}</p>
          </li>
          <button id="delete-button" ng-click="broadcastDelete()">DELETE ACTIVITY</button>
        <div class="dottedline-bottom"></div>
      </ul>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 full-height" ng-controller="CalendarCtrl">
      <div class="full-height" ng-model="eventSources" calendar="calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
    </div>

  </div>
