.info-panel {

  .basic-info-panel {
    height: 250px;
  }

  button {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background: transparent;
    padding: 5px;

    &:focus {
      outline: none;
    }

    transition : background 0.2s ease-in;
    &:hover {
      background: rgba(158,204,70,0.8);
    }
  }

  padding-top: 2%;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;

  input {
    background: transparent;
    margin-right: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px dashed whitesmoke;
    width:85%;
    &:focus {
      outline: none;
    }
  }

  a {
    color: #DB0A5B;
    transition: color 0.2s ease-in;
    font-weight: bold;
    &:hover {
      color: #F62459;
    }
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: rgba(253,187,83,0.8);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
  ul {
    background: rgba(45, 51, 58, 0.7);
    padding: 0;
    li {
      margin-bottom: 15px;
    }
    .wishlist-activities-container {
      background: transparent;
    }
    .wishlist-activites {
      margin-bottom: 8px;
    }
  }
  .inner-container {
    padding: 6%;
  }

  .editable-empty {
    color: #A1A1A1;
  }.info-panel {

  button {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background: transparent;
    padding: 5px;

    &:focus {
      outline: none;
    }

    transition : background 0.2s ease-in;
    &:hover {
      background: rgba(158,204,70,0.8);
    }
  }

  padding-top: 2%;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;

  input {
    background: transparent;
    margin-right: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px dashed whitesmoke;
    &:focus {
      outline: none;
    }
  }

  a {
    color: #DB0A5B;
    transition: color 0.2s ease-in;
    font-weight: bold;
    &:hover {
      color: #F62459;
    }
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: rgba(253,187,83,0.8);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
  ul {
    background: rgba(45, 51, 58, 0.7);
    padding: 0;
    li {
      margin-bottom: 15px;
    }
  }

  .editable-empty {
    color: #A1A1A1;
  }

  .editable-click {
    border-bottom: 0;
  }
}
}

.wishlist-activities-container {
  background: transparent;
  overflow-y:scroll;
  max-height: 150px;
  margin-bottom: 15px;
}
.wishlist-activites {
  margin-bottom: 8px;
}

#wishlist-panel {
  .inner-container {
    max-height:540px !important;
    padding: 6%;
  }
  a {
    color: whitesmoke;
    font-weight: normal;
    text-decoration: none;
  }
  button {
    color: whitesmoke;
    border: 0;
    background: none;
    padding: 0;

    transition: color 0.2s ease-in;

    &:focus {
      outline: none;
    }
    &:hover {
      color: #fdbb53;
    }
  }
}

#repeat-frds-container {
  overflow-y:scroll;
  max-height: 150px;
  margin-bottom: 15px;
}