<div ng-controller="TripeditCtrl as edit" class="col-md-12 full-height animated fadeIn">
<div class="page-body">
  <div class="col-lg-3 full-height">
  	<ul>
  		<li>
  			<h3>NAME:</h3>
  			<span type="text" editable-text="currentTrip.name" placeholder="change name">{{currentTrip.name || "Give your trip a name!" }}</span>
  		</li>
      <li>
        <h3>LOCATION:</h3>
        <span>{{currentTrip.questionnaire.location || "empty" }}</span>
      </li>
  		<li>
  			<h3>BUDGET:</h3>
  			<span type="text" editable-text="currentTrip.budget" placeholder="change budget">{{currentTrip.budget || "empty" }}</span>
  		</li>
      <li>
        <h3>WISH LIST:</h3>
          <ul>
            <li ng-repeat="wish in currentTrip.wishlist">
              <a ng-click="showDatePicker()">{{wish.name || "empty" }}</a>
              <div ng-click="selectActivityTime()" ng-model="wish" ng-hide="closed" date-range start="start" end="end" max-view="month" min-view="hours"></div>
            </li>
          </ul>
          <!-- show/hide when wish clicked -->
      </li>
  	</ul>
    <hr>
    <p>This is the current trip: {{ currentTrip }}</p>
  </div>

  <div class="col-lg-9 full-height">
    <div ng-controller="CalendarCtrl as calendar" class="full-height">
      <div id="calendar-container" class="full-height" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.eventSources"></div>
    </div>
  </div>
<div>
</div>

